<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <meta property="og:title" content="<%- title %> " />
  <meta property="og:description" content=" 吃完六角甜點尾牙，現在要六角校外教學旅遊了" />
  <meta property="og:site_name" content=" 六角學院 " />
  <meta property="og:locale" content="zh_TW" />
  
  <link rel="icon" href="./images/logo-dark.png">
  <link rel="stylesheet" href="stylesheets/all.css">
</head>

<body>

  <%- contents %>

  <script src="javascripts/vendor.js"></script>
  <script src="javascripts/all.js"></script>
</body>

</html>